<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbinfo.myclassactivity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mbinfo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mbinfo.camera.OpenCameraActivity" />
        <activity android:name="com.mbinfo.camera.CameraActivity" />
        <activity android:name=".OpenMail" />
        <activity android:name=".MainService" />
        <activity android:name=".MainWeb" />
        <activity android:name=".Demo" />
        <activity android:name=".ClickToCall" />
        <activity android:name="com.mbinfo.camera.LearnCamera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Dummy" />
        <activity android:name=".GridActivity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".Second" />

        <service android:name=".DataFlairService" />
        <service android:name=".ForGroundService" />
        <service
            android:name="com.mbinfo.util.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.mbinfo.util.MyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mbinfo.util.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>